@model IEnumerable<Automate.WEB.Models.DrinkWithImgViewModel>

@{
    ViewBag.Title = "Напитки";
}

<h2>Напитки</h2>
<div class="showcase">
    @foreach (var item in Model)
    {
        Html.RenderPartial("DrinkItem", item);
    }
</div>


